.title{
  text-align: left;
  margin-left: 50px;
}
.field-cell{
  background-color: #d6cdc4;;
  width: 75px;
  height: 75px;
  color: white;
  vertical-align: center;
  box-sizing: border-box;
  border: 10px solid darkgray;
}
table{
  border: 10px solid darkgray;
  border-collapse: collapse;
  border-radius: 50%;
}
/* 248, 16, 32, 64, 128, 256, 512, 1204, 2048 */
/* .field-cell--2
.field-cell--4
.field-cell--8 */

.field-cell--2 {
  background-color: #eee4da;
}
.field-cell--4 {
  background-color: #ede0c8;
}
.field-cell--8 {
  background-color: #f3b27a;
}
.field-cell--16 {
  background-color: #f69664;
}
.field-cell--32 {
  background-color: #f77c5f;
}
.field-cell--64 {
  background-color: #f75f3b;
}
.field-cell--128 {
  background-color: #edd073;
}
.field-cell--256 {
  background-color: #edcc61;
}
.field-cell--512 {
  background-color: #edc850;
}
.field-cell-1024 {
  background-color: #edc53f;
}
.field-cell-2048 {
  background-color: #edc22e;
}